<div
  *ngIf="!isSignUpSuccess else notification"
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
>
  <div class="card" data-testid="form-sign-up">
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>

    <form class="card-body" (submit)="onClickSignUp(); $event.preventDefault()">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input [(ngModel)]="username" class="form-control" id="username" type="text" name="username">
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input [(ngModel)]="email" class="form-control" id="email" type="email" name="email">
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input [(ngModel)]="password" class="form-control" id="password" type="password" name="password">
      </div>

      <div class="mb-3">
        <label class="form-label" for="password-repeat">Repeat password</label>
        <input [(ngModel)]="passwordRepeat" class="form-control" id="password-repeat" type="password" name="password-repeat">
      </div>

      <div class="text-center">
        <app-button [disabled]="!password || !passwordRepeat || password !== passwordRepeat" [isLoading]="isLoading">Sign
          Up</app-button>
      </div>

    </form>
  </div>
</div>

<ng-template #notification>
  <app-alert>Please check your email to activate your account</app-alert>
</ng-template>
