<div
  *ngIf="!isSignUpSuccess else notification"
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
>
  <div class="card" data-testid="form-sign-up">
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>

    errors: {{ form.get('username')?.errors | json }}

    <form [formGroup]="form" class="card-body" (ngSubmit)="onClickSignUp()">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input formControlName="username" class="form-control" id="username" type="text">
        <div data-testid="username-validation" *ngIf="form.get('username')?.errors && (form.get('username')?.touched
        || form.get('username')?.dirty)">
          <div *ngIf="form.get('username')?.errors?.['required']">
            Username is required
          </div>
          <div *ngIf="form.get('username')?.errors?.['minlength']">
            Username must be at least 4 character long
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input formControlName="email" class="form-control" id="email" type="email">
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input formControlName="password" class="form-control" id="password" type="password">
      </div>

      <div class="mb-3">
        <label class="form-label" for="password-repeat">Repeat password</label>
        <input formControlName="passwordRepeat" class="form-control" id="password-repeat" type="password">
      </div>

      <div class="text-center">
        <app-button [disabled]="isDisabled" [isLoading]="isLoading">Sign Up</app-button>
      </div>

    </form>
  </div>
</div>

<ng-template #notification>
  <app-alert>Please check your email to activate your account</app-alert>
</ng-template>
